[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/proxy-manager-clipper"]
	path = lib/proxy-manager-clipper
	url = https://github.com/makerdao/proxy-manager-clipper
[submodule "lib/ds-weth"]
	path = lib/ds-weth
	url = https://github.com/makerdao/ds-weth
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/makerdao/dss-gem-joins
