[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/proxy-manager-clipper"]
	path = lib/proxy-manager-clipper
	url = https://github.com/makerdao/proxy-manager-clipper
